<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>acerca HV L. C.</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body>

    <div>
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/acerca"> Acerca  </a> </li>
            <li> <a href="/exper"> Experiencia Laboral </a> </li>
            <li> <a href="/estudios"> Estudios Realizados </a> </li>
            <li> <a href="/aptitudes"> Aptitudes </a> </li>
            <li> <a href="/contacto"> Contacto </a> </li>

        </ul>
    </div>

    <main>
        <h3>  DESCRIPCION -  PERFIL </h3>
        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam quasi placeat aut odio enim minus molestias, facere illo aperiam iure maxime, magnam vel expedita voluptatum mollitia vero libero maiores consequuntur.</P>
    </main>
    
</body>
</html>