<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>estudios HV L. C.</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body>

    <div>
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/acerca"> Acerca  </a> </li>
            <li> <a href="/exper"> Experiencia Laboral </a> </li>
            <li> <a href="/estudios"> Estudios Realizados </a> </li>
            <li> <a href="/aptitudes"> Aptitudes </a> </li>
            <li> <a href="/contacto"> Contacto </a> </li>
            
        </ul>
    </div>
    <main>
        <h3>ESTUDIOS REALIZADOS</h3>
        <P>
            2020 Desarrollador Fullstack <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor impedit sed quae consectetur nihil cum illum, neque, perferendis sapiente culpa tempore! Minima perferendis vel placeat odit voluptatibus, quos voluptas.
        </P>

    </main>
    
</body>
</html>