<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>exper_lab. L. C.</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body>

    <div>
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/acerca"> Acerca  </a> </li>
            <li> <a href="/exper"> Experiencia Laboral </a> </li>
            <li> <a href="/estudios"> Estudios Realizados </a> </li>
            <li> <a href="/aptitudes"> Aptitudes </a> </li>
            <li> <a href="/contacto"> Contacto </a> </li>
        </ul>
    </div>

    <main>
        <h3> EXPERIENCIA LABORAL </h3>
        <P>
             2014-2018     <br>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus laborum, tempore accusantium, nesciunt dolorum ratione possimus architecto aut, recusandae iste dolor nulla perspiciatis magni a ab laudantium blanditiis est quae!
        </P>
    </main>
    
</body>
</html>