<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HV L. Jacqueline C.</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

    <div>
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/acerca"> Acerca  </a> </li>
            <li> <a href="/exper"> Experiencia Laboral </a> </li>
            <li> <a href="/estudios"> Estudios Realizados </a> </li>
            <li> <a href="/aptitudes"> Aptitudes </a> </li>
            <li> <a href="/contacto"> Contacto </a> </li>


        </ul>
    </div>
    
    <main>
    <div class="cmain">
        <h3>L. JACQUELINE CASTRO A.</h3>
        <img src="/img/imagen.jpg" alt="">
        
        <H5>Teléfono: 3017980897</H5>
        <H5>Correo:  lidia.castroa09@gmail.com</H5>
        <H5>Dirección:  calle 68  No. 27-55 Bogotá</H5>
    </div>
</main>
</body>
</html>